{% extends 'layout.html' %}

{% block content %}


<div class="jt-header">
  <h1>Bicycle-sharing Data Analysis</h1>
</div>


<div class="container">
  <h2>Description</h2>
  <p>Get and visualize some bicycle-sharing <b>Open Data</b>.</p>
  <p>Developed and hosted by the <a href="http://oslandia.com">Oslandia</a> team!</p>

  <p>See the <a href="https://gitlab.com/Oslandia/jitenshea">project page on Gitlab</a>.</p>
  <p>Visit also the <a href="http://data.oslandia.io">data.oslandia.io</a> website to
    learn more about data processing and machine learning Oslandia projects.</p>

  This projects uses Open Data; it is built upon Open Source dependencies:
  python, postgresql, postgis, etc.

    <div class="row widgets">
        <div class="home-widget col-md-3">
            <div class="panel panel-default">
                <div class="panel-header">
                    <h3 class="panel-title"><i data-feather="database"></i>Data Processing</h3>
                </div>
                <div class="panel-body">
                    <p>Data pipeline and dataprocessing. Automated tasks from
                        Open Data to the database.</p>
                </div>
                <p class="centered"><a class="btn btn-primary" href="https://gitlab.com/Oslandia/jitenshea">Gitlab</a></p>
            </div>
        </div>

        <div class="home-widget col-md-3">
            <div class="panel panel-default">
                <div class="panel-header">
                    <h3 class="panel-title"><i data-feather="bar-chart-2"></i>Data Analysis</h3>
                </div>
                <div class="panel-body">
                    <p>Get some stats from history timeseries: most used
                        bicycle stations, peak frequency, etc.</p>
                </div>
                <p class="centered"><a class="btn btn-primary" href="{{ url_for('citylist') }}">Cities page</a></p>
            </div>
        </div>


        <div class="home-widget col-md-3">
            <div class="panel panel-default">
                <div class="panel-header">
                    <h3 class="panel-title"><i data-feather="code"></i>API</h3>
                </div>
                <div class="panel-body">
                    <p>Retrieve the data and the analysis with a simple Web
                        API. Get some data in JSON or GeoJSON.</p>
                </div>
                <p class="centered"><a class="btn btn-primary" href="{{ url_for('swagger_ui') }}">API</a></p>
            </div>
        </div>
    </div>
</div>


{% endblock %}
